.upImg{
  width: inherit;
  height: inherit;
}
.home{
  header{
    .h_item{
      border-top: 1px solid rgba(180,180,180,0.2);
      display: flex;
      width: 90%;
      margin: 0 auto;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 14px;
      align-items: center;
      .h_i_title{
        color: #999999;
        flex: 1;
      }
      .h_i_img{
        width: 12px;
        height: 20px;
      }
      input{
        flex: 4;
        padding-right: 10px;
        text-align: right;
      }
    }
  }
  .content{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    .c_total{
      display: flex;
      align-items: center;
      color: #999999;
      width: 90%;
      margin: 0 auto;
      border-top: 1px solid rgba(180,180,180,0.2);
      padding-top: 10px;
      padding-bottom: 10px;
      .c_t_input{
        flex: 4;
        text-align: center;
        color: red;
      }
    }
    .c_photo{
      width: 90%;
      margin: 0 auto;
      border-top: 2rpx solid rgba(180,180,180,0.2);
      padding-top: 20px;
      padding-bottom: 10px;
      margin-top: 30rpx;
      .c_p_txt{
        color: #000;
      }
      .c_img{
        margin-top: 20rpx;
        .img{
          width:27px;
          height:23px;
        }
      }
    }
    .c_remark{
      display: flex;
      justify-content: flex-start;
      border-top: 1px solid rgba(180,180,180,0.2);
      padding-top: 20px;
      width: 90%;
      margin: 0 auto;
      .c_r_txt{
        flex: 1;
        color: #999999;
      }
      .textarea{
        height: 100px;
        flex: 7;
        border: 1px solid rgba(180,180,180,0.2);
        padding-left:10px;
        padding-top:10px;
      }
    }
  }
  .f_btn{
    width: 100%;
    height: 50px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    background-color: #E94816;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
  }
}
